In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('data/model_data.csv')

data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41185 entries, 0 to 41184
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               41185 non-null  int64
 1   job               41185 non-null  object
 2   marital           41185 non-null  object
 3   education         41185 non-null  object
 4   default           41185 non-null  object
 5   housing           41185 non-null  object
 6   loan              41185 non-null  object
 7   contact           41185 non-null  object
 8   month             41185 non-null  object
 9   day_of_week       41185 non-null  object
 10  campaign          41185 non-null  int64
 11  contacted_before  41185 non-null  int64
 12  previous          41185 non-null  int64
 13  poutcome          41185 non-null  object
 14  emp.var.rate      41185 non-null  float64
 15  cons.price.idx    41185 non-null  int64
 16  cons.conf.idx     41185 non-null  int64
 17  euribor3m         41185 non-null  int64
 18  nr.employed       41185 non-null  int64
 19  subscribed        41185 non-null  int64
dtypes: float64(1), int64(9), object(10)
memory usage: 6.3+ MB

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,contacted_before,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,0,0,nonexistent,3.0,3,2,3,2,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,0,0,nonexistent,3.0,3,2,3,2,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,0,0,nonexistent,3.0,3,2,3,2,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,0,0,nonexistent,3.0,3,2,3,2,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,0,0,nonexistent,3.0,3,2,3,2,0

In [2]:
from pycaret.classification import *
s = (setup(data, target = 'subscribed',
            session_id = 420,
            fix_imbalance=True,
            categorical_features=['job','marital','education','default','housing','loan','contact','poutcome'],
            ignore_features=['month','day_of_week'],
            remove_multicollinearity = True,
            multicollinearity_threshold=0.8,
            feature_selection=True,
            feature_selection_method='univariate',
            n_features_to_select=15,
            fold=5
            ))

In [3]:
#s.dataset_transformed.info()
s.X_train_transformed.to_csv('./data/X_train_transformed.csv', index=False)
s.X_test_transformed.to_csv('./data/X_test_transformed.csv', index=False)

s.y_train_transformed.to_csv('./data/y_train_transformed.csv', index=False)
s.y_test_transformed.to_csv('./data/y_test_transformed.csv', index=False)

In [4]:
# functional API
#best = compare_models(include=['lr'], n_select=3)

In [5]:
#evaluate_model(best[1])

In [6]:
lr = create_model('lr')

evaluate_model(lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=420, n_estimators=42)
rf = create_model(clf)

evaluate_model(rf)